.gallery {
  position: relative;


  &-figure {
    text-align: center;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
  }

  &-description {
    color: $principal-color;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    background: rgba(black, .5);
    border-top: 3px solid rgba(black, .2);
  }

  &-navigation__counter {
    font-size: .8em;
  }

  &-image {
    transition: all 1s ease;
    height: 100%;
    object-fit: cover;

    &.animated {
      animation: opacity .5s linear alternate;
    }

    &.animated-r {
      animation: opacity .5s linear alternate;
    }

    @keyframes opacity {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

}

.next {
  position: absolute;
  top: 45%;
  right: 0;
  opacity: 1;

  &.disabled {
    opacity: 0;
  }

  &::after {
    content: url('https://image.flaticon.com/icons/svg/180/180000.svg');
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    z-index: 10;
    background: rgba(black, .4);
    border-radius: 50%;
  }
}

.prev {
  position: absolute;
  top: 45%;
  left: 0;
  
    &::after {
      content: url('https://image.flaticon.com/icons/svg/179/179983.svg');
      position: absolute;
      top: 0;
      left: 10%;
      width: 35px;
      height: 35px;
      z-index: 10;
      background: rgba(black, .4);
      border-radius: 50%;
    }
}

